/*.show-on-desktop {*/
/* display can be inline-block, just choose one that suits your need*/
/*display: block;*/
/* it's your call what the break point is */
/*@media screen and (min-width: 412px) {
        display: none;
    }*/
/*}

.show-on-mobile {*/
/* display can be inline-block, just choose one that suits your need*/
/*display: none;*/
/* it's your call what the break point is */
/*@media screen and (max-width: 411px) {
        display: block;
    }
}*/

/*

    UPDATED COLOUR SCHEME:
    ORANGE TITLES: DARKORANGE , BACKUP #fd5f00
    HEADER TITLES: #13334c
    SUBHEADERS:    #005792 

*/
.button-login
{
    justify-content: center;
    align-items: center;
    margin: 10px;
}

    .button-login button
    {
        display: block;
        text-transform: uppercase;
        width: 330px;
        color: #000;
        border: none;
        padding: 10px;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        font-weight: bold;
        font-size: 16pt;
        background-color: #33cc33;
        box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
    }

        .button-login button:hover
        {
            /*background-color: darkgreen;*/
            -moz-box-shadow: 0 0 20px #000;
            -webkit-box-shadow: 0 0 20px #000;
            box-shadow: 0 0 20px #000;
        }

.center
{
    margin: auto;
    /*background: lime;*/
    width: 350px;
}

body
{
    font-size: 24px;
}


#header
{
    background-color:darkorange;
    width: 500px;
    text-align: center;
    font: 30px bold;
    margin: auto;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    /*box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 3.6px;*/
    box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
}

.lg-view
{
    display: inline-block;
}

.sm-view
{
    display: none;
}


@media screen and (max-width: 500px)
{
    .lg-view
    {
        display: none;
    }

    .sm-view
    {
        display: inline-block;
    }

    #header
    {
        font: 30px bold;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

#customers
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 800px;
    margin: auto;
}

@media screen and (max-width: 992px)
{
    #customers
    {
        width: 100%;
    }
}

#customers td
{
    border: 1px solid #ddd;
    padding: 0px;
}

/*#customers th
        {
            border: 0px solid #ddd;
            padding: 0px;
        }*/

/*#customers tr: nth-child(even) {
                background-color: #f2f2f2;
            }*/

/* #customers tr: hover {
                background-color: #ddd;
            }*/

#customers th
{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #13334c;
    color: #FFFFFF;
}

ul li
{
    list-style-type: none;
    font-size: 0.8em;
}


.lgc-view
{
    display: inline-block;
}

.smc-view
{
    display: none;
}


@media screen and (max-width: 480px)
{
    .lgc-view
    {
        display: none;
    }

    .smc-view
    {
        display: inline-block;
        font-size: 16px;
    }

    /*#header
            {
                font: 30px bold;
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;
            }*/
}