/*.show-on-desktop {*/
    /* display can be inline-block, just choose one that suits your need*/
    /*display: block;*/
    /* it's your call what the break point is */
    /*@media screen and (min-width: 412px) {
        display: none;
    }*/
/*}

.show-on-mobile {*/
    /* display can be inline-block, just choose one that suits your need*/
    /*display: none;*/
    /* it's your call what the break point is */
    /*@media screen and (max-width: 411px) {
        display: block;
    }
}*/
.button-login {
    justify-content: center;
    align-items: center;
    margin: 10px;
}

    .button-login button {
        display: block;
        text-transform: uppercase;
        width: 330px;
        color: #000;
        border: none;
        padding: 10px;
        margin:auto;
        margin-bottom: 10px;
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        font-weight: bold;
        font-size: 16pt;
        background-color: #33cc33;
    }


.center {
    margin: auto;
    /*background: lime;*/
    width: 350px;
}

body {
    font-size: 24px;
}


#header {
    background-color: royalblue;
    width: 500px;
    text-align: center;
    font: 40px bold;
    margin: auto;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.lg-view {
    display: inline-block;
}

.sm-view {
    display: none;
}


@media screen and (max-width: 500px) {
    .lg-view {
        display: none;
    }

    .sm-view {
        display: inline-block;
    }

    #header {
        font: 30px bold;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}