
#vehicles
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /*width: 500px;
    border: 2px solid;*/
    width: 700px;
    margin: auto;
}

@media screen and (max-width: 992px)
{
    #vehicles
    {
        width: 100%;
    }
}

#tableheader
{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 36pt;
    /*padding-left: 1em;*/
    width: 250px;
    margin: auto;
    text-align: center;
}

#tablesubheader
{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    /*padding-left: 2em;*/
    border: 2px solid;
    margin: auto;
    text-align: center;
}

#modelname
{
    font-size: 36px;
    background-color: black;
    /*display: block;*/
    text-transform: uppercase;
    /*width: 330px;*/
    color: white;
}



#warningheader
{
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 14pt;
    padding-left: 1em;
    border: 2px solid;
}

#warningcomments
{
    background-color: yellow;
    color: black;
    font-weight: normal;
    padding-left: 1em;
    border: 2px solid;
}

#sectionheader
{
    background-color: #13334c;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    padding-left: 1em;
    border: 2px solid;
}

#sectioncomments
{
    background-color: white;
    color: black;
    font-weight: normal;
    padding-left: 1em;
}

#subheader
{
    background-color: #005792;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    padding-left: 1em;
    border: 2px solid;
}

#subcomments
{
    background-color: white;
    color: black;
    font-weight: normal;
    padding-left: 1em;
}
